@model IEnumerable<CloudMVC.Products>

@{
    ViewBag.Title = "Products";
}

<p>
    <a href="@Url.Action("Create", "Products")" class="btn btn-success"><span>Create New</span></a>
</p>

<table class="table table-bordered table-striped table-vcenter">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PurchasePrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Categories.CategoryName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PurchasePrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Categories.CategoryName)
        </td>
        <td>          
            <div class="btn-group btn-group-xs">
                <a href="@Url.Action("Edit", "Products", new { id = item.ProductID })" class="btn btn-sm btn-warning" title="Edit"><i class="fa fa-pencil"></i></a>

                <a href="@Url.Action("Details", "Products", new { id = item.ProductID })" class="btn btn-sm btn-info" title="Details"><i class="fa fa-eye"></i></a>

                <a href="@Url.Action("Delete", "Products", new { id = item.ProductID })" class="btn btn-sm btn-danger" title="Delete"><i class="fa fa-times"></i></a>
            </div>        
        </td>
    </tr>
    }

</table>
