@model CloudMVC.Categories

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Categories</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DefaultPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DefaultPrice)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CategoryID }) |
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-sm btn-danger" })
</p>
