@model IEnumerable<CloudMVC.Countries>

@{
    ViewBag.Title = "Countries";
}

<p>
    <a href="@Url.Action("Create", "Countries")" class="btn btn-success"><span>Create New</span></a>
</p>

<table class="table table-bordered table-striped table-vcenter">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CountryName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CountryName)
            </td>
            <td>               
                <div class="btn-group btn-group-xs">
                    <a href="@Url.Action("Edit", "Countries", new { id = item.CountryID })" class="btn btn-sm btn-warning" title="Edit"><i class="fa fa-pencil"></i></a>

                    <a href="@Url.Action("Details", "Countries", new { id = item.CountryID })" class="btn btn-sm btn-info" title="Details"><i class="fa fa-eye"></i></a>

                    <a href="@Url.Action("Delete", "Countries", new { id = item.CountryID })" class="btn btn-sm btn-danger" title="Delete"><i class="fa fa-times"></i></a>
                </div>
            </td>
        </tr>
    }

</table>
